extends ../../layout/template/index
include ../../components/formInput/formInput

append styles
    link(rel='stylesheet' href='../../components/formInput/formInput.scss')

block scripts
    script(src='./index.ts' type='module' defer="true")
