@import "../../styles/variables";

.profile-field {
  width: 100%;
  max-width: 510px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $divider-color;
  position: relative;

  &:last-child {
    border-bottom: none;
  }

  &__label {
    flex: 1 1 40%;
    padding: 10px 0;
    font-size: 13px;
    line-height: 13px;
    color: $text-primary-color;

    &__label_error {
      color: $error-color;
    }
  }

  &__input {
    flex: 1 1 60%;
    padding: 10px 0;
    font-size: 13px;
    line-height: 13px;
    border: none;
    height: 20px;
    text-align: end;
    color: $text-secondary-color;

    &:disabled {
      background-color: white;
    }
  }

  &__error {
    position: absolute;
    bottom: 1px;
    left: 0;
    font-size: 9px;
    line-height: 9px;
    color: $error-color;
  }
}
