extends ../../layout/profile/index

append styles
    link(rel='stylesheet' href='../../layout/profile/index.scss')
    link(rel='stylesheet' href='../../components/profileField/profileField.scss')
    link(rel='stylesheet' href='../../components/navigateButton/navigateButton.scss')
