extends ../../layout/template/index

block scripts
block content
    h1.title 500
    p.paragraph Что-то пошло не так
    p.paragraph Наши инженеры уже занимаются проблемой
    a.link.back-to-navigation(href='/chats') Обратно к чатам

