@import "./variables";
@import "./fonts";

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: $font;
  font-style: normal;
  font-weight: 500;
}

*:focus {
  outline: none;
}

body,
p,
h1 {
  margin: 0;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

.root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 14%);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  color: $text-secondary-color;

  &_red {
    color: $error-color;
  }
}

.input {
  color: $text-primary-color;
  font-size: 13px;
  line-height: 15px;
  border: none;
  border-bottom: 1px solid $main-color;

  &::placeholder {
    color: $text-secondary-color;
    font-size: 9px;
    opacity: 0.5;
  }
}

.error {
  color: $error-color;
  visibility: hidden;

  &_visible {
    visibility: visible;
  }
}

.button {
  border-radius: 8px;
  border: none;
  cursor: pointer;

  &_disabled {
    filter: brightness(70%);
    pointer-events: none;
  }

  &:hover {
    opacity: 0.8;
  }
}

.link {
  color: $main-color;

  &_red {
    color: $error-color;
  }
}

.links-container {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 8px;
}

.paragraph {
  margin-top: 12px;
  font-size: 20px;
  line-height: 20px;
}

.back-to-navigation {
  margin-top: 36px;
}

.modal-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(30 30 30 / 60%);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;

  &_hidden {
    display: none;
  }
}

.modal {
  width: 340px;
  height: 257px;
  padding: 40px 30px;
  border-radius: 12px;
  background: $white-background;
  display: flex;
  flex-direction: column;

  &__header {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
      font-family: $font;
      font-weight: 600;
      font-size: 15px;
      line-height: 20px;
      text-align: center;
      color: $text-primary-color;
    }
  }

  &__content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding-top: 50px;

    & > label {
      font-family: $font;
      font-style: normal;
      font-weight: 500;
      font-size: 9px;
      line-height: 9px;
      margin-bottom: 8px;
    }
  }

  &__footer {
    padding-top: 30px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__confirm {
      width: 100%;
      background: $main-color;
      color: white;
      border-radius: 8px;
      padding: 12px;
    }
  }
}
