$font: "Inter", sans-serif;
$main-color: #3369f3;
$error-color: #ff2f2f;
$text-primary-color: #1e1e1e;
$text-secondary-color: #999;
$divider-color: #eaeaea;
$white-background: #fbfbfb;
$message-background: #f8f8f8;
$secondary-background: #efefef;
$focus-background: #e4edfd;
