$font: 'Inter', sans-serif;
$main-color: #3369F3;
$error-color: #FF2F2F;
$text-primary-color: #1E1E1E;
$text-secondary-color: #999999;
$divider-color: #EAEAEA;
$white-background: #FBFBFB;
$message-background: #F8F8F8;
$secondary-background: #EFEFEF;
$focus-background: #E4EDFD;
