@import "../../styles/variables";

.profile-actions {
  width: 100%;
  max-width: 300px;
  margin-top: 50px;

  &__save {
    background-color: $main-color;
    color: white;
    width: 100%;
    font-size: 13px;
    line-height: 13px;
    padding: 12px;
  }
}
