extends ../layout/template/index

block scripts


block content
    h1 Ссылки на экраны приложения
    .links-container
        a.link(href='/login') Экран авторизации
        a.link(href='/register') Экран регистрации
        a.link(href='/chats') Экран чатов
        a.link(href='/profile') Экран профиля
        a.link(href='/404') Экран 404
        a.link(href='/500') Экран 500

