@import "../../styles/common";

.root {
  display: flex;
  padding: 0;
}

.sidebar {
  flex: 0 0 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white-background;
  border-right: 1px solid $divider-color;
}

.profile {
  flex: 1 1 100%;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__avatar {
    border-radius: 90%;
    background-color: $white-background;
    width: 130px;
    height: 130px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    margin-top: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
  }

  &__fields {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.profile-actions {
  width: 100%;
  max-width: 510px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;

  &__link {
    text-decoration: none;
    display: block;
    font-size: 13px;
    line-height: 13px;
    padding: 10px 0;
    border-bottom: 1px solid $divider-color;

    &:last-child {
      border-bottom: none;
    }
  }
}
