extends ../../layout/template/index

block scripts
block content
    p Future chats page welcomes you
    p We are sorry, but this page is under construction, will be happy to see you in the next sprint
    a.link(href='/') return to index
